.navigation {
  list-style: none;
  padding: 5px 0 0 0;
  width: 250px; 
  height: 25px; 
  margin: 20px auto;
  background-color: #c4e8ff;
  position: relative;
  cursor: default;
  border-radius: 4px;
}

.navigation:hover {
  border-radius: 4px 4px 0 0;
}

.navigation #topMenuName,
.navigation #bottomMenuName {
  display: block;
  height: 25px;
  font-family: Arial, sans-serif;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  color: #2a6496;
}

.navigation #topMenuName {
}

.navigation #bottomMenuName {
  line-height: 25px;
  vertical-align: bottom;
}

.navigation:hover #topMenuName,
.navigation:hover #bottomMenuName {
  color: rgba(42,100,150,0.3);
}

.navigation a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: #1f45fc;
  display: block;
}

.navigation a:hover {
  text-decoration: underline;
}

#topMenu li,
#bottomMenu li {
  cursor: pointer;
  width: 250px; 
  height: 18px;
  line-height: 20px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-align: center;
  display: block;
}

/* removing the space between li elements after transform: rotate(180deg) */
#bottomMenu li {
    margin-top: -1px;
}

.navigation li:nth-child(even) {
  background: #f0f0f0;
}

.navigation li:nth-child(odd) {
  background: #e8e8e8;
}

#topMenu li:last-child {
  background: #c4e8ff;
  border-radius: 0 0 4px 4px;
}

#bottomMenu li:last-child {
  background: #c4e8ff;
  border-radius: 4px 4px 0 0;
}

.triangle {
  font-size: 9px;
}

#bottomMenu,
#bottomMenu li,
#bottomMenuName {
  -webkit-transform: rotate(180deg);  
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}